 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data Scientist</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a machine learning evangelist with the passion to use analytics to solve client business challenges. I have led various analytics teams over the course of twelve years in the banking industry at Fortune 100 companies. I received my MBA from the W.P Carey School of Business at Arizona State University. When I am not busy mining for patterns in data I can be found writing posts on my blog, hiking or riding my road bike.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.appliedmachinelearningacademy.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Visit Blog
                    </a>
                </div>
            </div>
        </div>
    </section>