    <!-- Header -->
    <header>
        <div class="container" id="about">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-responsive" src="img/profile.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-text pull-left">
                                <span class="skills">{{ site.skills }}</span>
                                <hr>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-lg-12">
                            <p class="text-left">I have led analytics and decision science teams over twelve years at Fortune 100 companies. My passion is to apply state of the art statistical learning and machine learning techniques on data to find insights for my clients and help them solve business problems. </p>

                            <p class="text-left">I received my MBA from the W.P Carey School of Business at Arizona State University. </p>
                            <p class="text-left">When I am not busy mining for patterns in data I can be found writing on my <font color="#fff"><a href="http://appliedmachinelearningacademy.com">blog</a></font> or hiking the Arizona trails.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>