    <!-- Header -->
    <header>
        <div class="container" id="about">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-responsive" src="img/profile.png" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-text pull-left">
                                <span class="skills">{{ site.skills }}</span>
                                <hr>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-lg-12">
                            <p class="text-left">I have led various analytics teams over twelve years at Fortune 100 companies. My passion is to apply state of the art data analysis techniques and machine learning algorithms to find insights from data and help my clients solve their business problems. </p>

                            <p class="text-left">I received my MBA from the W.P Carey School of Business at Arizona State University. </p>
                            <p class="text-left">When I am not busy mining for patterns in data I can be found writing on my blog or hiking the Arizona trails.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>