 <!-- About Section -->
    <section class="success" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-light">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                  <h3><a href="https://github.com/shazadan/monstera" target="_blank"><font color="#2C3E50">monstera</font></a></h3>
                </div>
                <div class="col-lg-6">
                    <p>A machine learning utility library written in python to handle boiler-plate tasks</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <h3><a href="http://www.appliedmachinelearningacademy.com" target="_blank"><font color="#2C3E50">amla</font></a></h3>
                </div>
                <div class="col-lg-6">
                    <p>Applied Machine Learning Academy [AMLA] is a resource for the community to learn about how to apply machine learning in the real-world</p>
                </div>
            </div>
        </div>
    </section>