<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <section id="thanks">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>Thanks for contacting me.</h3>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>I check my email regularly during business hours (9-5 MST). I will get back to you as soon as possible, usually within a few hours.</p>
                        <br>
                        <p>Until then, you can choose to navigate to the following resources:</p>
                        <p>Back to the <strong><a href="/">home page</a>.</strong> 
                        <p>My blog at <strong><a href="http://www.appliedmachinelearningacademy.com">Applied Machine Learning Academy.</strong></a></p>
                    </div>    
                </div>
            </div>
        </section>
    {% include js.html %}
    </body>
</html>